.git
venv
node_modules
ui/node_modules
ui/build
ui/.svelte-kit
dist
build
*.egg-info
.pytest_cache
.ruff_cache
.github
tests
wordlist.txt
CHANGELOG.md
*.deb
*.zip
Dockerfile
docker-compose.yml
.dockerignore